
    <ul>
         <li class="header">Mapped Entities</li>
    {% for entity in mappedEntitiesName %}      
            <li><a href ="{{path( entity.route )}}">{{entity.name}}</a></li>
    {% endfor %}
    </ul>
